html {
  margin: 0;
  width: 100vw;
}

body {
  background-color: #EEEEEE;
  font-family: 'Lato';
}

.top {
  background-color: #2b2b2b;
  color: #ffffff;
  display: flex;
  height: 180px;
  justify-content: flex-end;
}

nav,
li {
  color: 	#C8C8C8;
  display: inline;
  padding: 0 10px 0 10px;
}

.playlist-label,
.user-label {
  color: 	#B8B8B8;
}

header {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  font-family: 'Merriweather';
  justify-content: flex-end;
  margin: 0 3% 0 0;
}

.user-admin {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fas {
  background: #333333;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: 60px;
  padding: 20px;
}

.share {
  color: #ffffff;
  padding-right: 20px;
}

.playlist,
.user,
.user-admin {
  color: #01c3f9;
  padding-right: 20px;
}

.fa-circle {
  color: #ffffff;
}

span {
  color: #484848;
}

a {
  color: #ffffff;
}

.shares-title {
  color: #484848;
  font-size: 40px;
  font-weight: 400;
  padding-left: 2%;
}

.card-section {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 20px 0 20px;
}

.cards {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #C8C8C8;
  color: #585858;
  display: flex;
  flex-direction: column;
  width: 98%;
}

.top-banner {
  display: flex;
  flex-direction: row;
  height: 160px;
  justify-content: flex-start;
}

.view-number {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 150%;
  font-weight: 300;
  justify-content: flex-end;
  margin-left: 70%;
  margin-top: 2%;
  text-align: center;
}

h3,
p {
  margin-left: 5%;
}

.recipient-namehere {
  margin-bottom: 0;
}

.date {
  color: #888888;
  font-weight: 300;
  margin-top: 0;
}

.recipient-link {
  background-color: #F0F0F0;
  margin: 0 5% 0 5%;
  padding: 4%;
  word-break: break-all;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8 {
  background-blend-mode: hue;
  background-color: rgb(0, 0, 0, 0.2);
  background-position: center;
  background-size: 350px;
  background-repeat: no-repeat;
}

.card1 {
  background-image: url('./images/russell1.jpg');
}
.card2 {
  background-image: url('./images/russell2.jpg');
}
.card3 {
  background-image: url('./images/russell3.jpg');
}
.card4 {
  background-image: url('./images/russell4.jpg');
}
.card5 {
  background-image: url('./images/russell5.jpg');
}
.card6 {
  background-image: url('./images/russell6.jpg');
}
.card7 {
  background-image: url('./images/russell7.jpg');
}
.card8 {
  background-image: url('./images/russell8.jpg');
}

.playlist-footer,
.playlist-name,
.attachments,
.attachment-number {

}

.playlist-footer,
.attachments {
  font-size: 75%;
  margin: 4% 0 0 5%;
}

.playlist-name {
  font-size: 110%;
  margin-left: 5%;
  margin-top: 0;
}

.attachment-number {
  color: #01c3f9;
  font-size: 180%;
  margin: 2% 0 4% 5%;
}
